body, html{
    text-align: center;
}

.icon {
    height: 2rem;
    padding-right: 1rem;
}

#MainImage {
    height: 40rem;
    width: 40rem;
}

@media only screen and (max-width: 768px) {
    #MainImage {
        height: 10rem;
        width: 10rem;
    } 